:root {
  --app-channel-width: 240px;
  --app-article-width: 300px;
  --app-toolbar-height: 48px;
  --headline-color: #333;
  --title-color: #666;
  --text-color: #999;
  --block-padding: 14px;
  --font-bold-500: 500;
}
