.container {
  width: 100%;
}

.subTitle {
  margin: 0;
  font-size: 20px;
  color: var(--title-color);
  padding: var(--block-padding);
}

.panelContainer {
  padding: var(--block-padding);
  height: calc(100% - var(--app-toolbar-height));
  display: grid;
}

.panelHeader {
  padding: 24px 0 10px;
}

.panelTitle {
  margin: 0;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.description {
  font-size: 14px;
  color: var(--text-color);
}

.section {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.options {
  width: 160px;
  min-width: 160px;
  margin-right: 56px;
  color: var(--headline-color);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 16px;
}

.preview {
  margin-top: 20px;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  margin-bottom: 14px;
  max-width: 600px;
  padding: 18px 14px 14px;
  box-shadow: inset(0 1px 3px 0 rgba(255, 255, 255, 0.5));
}

.previewLoading {
  color: var(--text-color);
}

.previewIcon {
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  float: left;
}

.previewBody {
  margin-left: 46px;
}

.previewTitle {
  font-size: 16px;
  color: var(--headline-color);
  font-weight: var(--font-weight-bold);
  margin: 0 0 14px;
}

.previewFollowButton {
  float: right;
  cursor: pointer;
}

.previewLink {
  font-size: 14px;
  color: var(--text-color);
}

.previewDescription {
  font-size: 14px;
  color: var(--title-color);
}

.hideFileInput {
  display: none;
  width: 0;
  height: 0;
}
