:root {
  --app-channel-width: 300px;
  --app-article-width: 300px;
  --app-toolbar-height: 50px;
  --headline-color: #333;
  --title-color: #666;
  --text-color: #363636;
  --link-default-color: #296bcc;
  --link-hover-color: #296bcc;
  --block-padding: 16px;
  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --button-height-large: 28px;
  --button-height-normal: 28px;
  --button-height-small: 20px;
  --button-radius: 6px;
  --input-height: 26px;
  --input-border-radius: 4px;
  --input-bg: rgba(245, 245, 245, 0.5);
  --input-border-color: #d1d1d1;
  --input-shadow-color: #87aef3;
  --input-color: #232526;
  --input-placeholder-color: rgba(121, 121, 121, 0.5);
  --input-shadow: 0 0 0 2px var(--input-shadow-color);
  --input-disabled-bg: rgba(0, 0, 0, 0.05);
  --line-color: rgba(0, 0, 0, 0.05);
  --icon-focused-bg: rgba(0, 0, 0, 0.05);
  --color-primary-blue: #017aff;
  --color-primary-90: #232526;
  --color-primary-10: #e5e5e5;
  --color-primary-3: #f4f4f4;
  --color-primary-white: #fff;
  --color-01: #f96057;
  --color-02: #f8a34d;
  --color-03: #f8ce52;
  --color-04: #5fcf65;
  --color-05: #488ef7;
  --color-06: #b470d4;
  --color-07: #9d9ca0;
}
