@import "../../styles/index.global.scss";

.article {
  flex: 1;
  height: 100vh;
  display: flex;
  background-color: var(--app-main-bg-color);
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ico {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
}

.scrollList {
  overflow-y: auto;
  height: 100vh;
  padding-top: calc(var(--app-toolbar-height) + 8px);
}

.scrollView {
  overflow-y: auto;
}

.mainView {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--app-article-width) 1fr;
  background-color: var(--detail-bg-color);
}

.header {
  height: var(--app-toolbar-height);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  //z-index: 3;
  //
  // backdrop-filter: saturate(180%) blur(20px);
  // background: hsl(var(--background)/88%);
  // --playerDropShadow2: rgba(0, 0, 0, .07);
  // --playerInnerShadow: rgba(255, 255, 255, .45);
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px var(--playerDropShadow2), inset 0 1px 1px var(--playerInnerShadow);

}
