#main {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.box {
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  width: 100%;
  margin-bottom: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  animation: slide-in 0.2s;
  transition: all 0.3s ease;
  border-radius: var(--button-radius);
}

.success {
  border-color: var(--color-04);
  background-color: var(--color-04);
}

.info {
  border-color: var(--color-05);
  background-color: var(--color-05);
}

.error {
  border-color: var(--color-01);
  background-color: var(--color-01);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes slide-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
