.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(
      100% - var(--app-toolbar-height)
    );
  user-select: none;
}

.list {
  margin: 0;
  padding: 8px;
  display: grid;
  grid-gap: 6px;
}

.active {
  color: var(--color-primary-blue);
}
