.container {
  padding: 2px 50px;
}

.header {
  padding-bottom: 16px;
  border-bottom: 1px solid #dfdfdf;
}

.title {
  margin: 18px 0 14px;
  color: var(--headline-color);
  font-size: 28px;
}

.banner {
  width: 100%;
  margin: 14px 0;
}

.banner img {
  max-width: 100%;
}

.meta {
  font-size: 14px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 12px;
}

.author,
.time {
  align-self: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.content {

  a {
    text-decoration: underline;
    text-decoration-style: dashed;
    transition: all 0.3s;

    &:hover {
      text-decoration-style: wavy;
    }
  }
}

.placeholder {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../../styles/images/mountain.webp');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.browserButton {
  width: 100%;
  height: auto;
  margin: 14px 0 20px;
  padding: 12px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #efefef;
  color: var(--title-color);
  cursor: pointer;
  outline: none;
}

.browserButton:hover {
  color: var(--color-primary-white);
  border-color: var(--color-05);
  background-color: var(--color-05);
}

.helpBar {
  position: fixed;
  top: 160px;
  margin-left: -60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  color: var(--color-primary-blue);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  line-height: 49px;
  font-size: 22px;
  color: var(--title-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 6px 0;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}

.content {
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--sans-font);
  font-size: var(--content-font-size);

  * {
    max-width: 100%;
  }
}



.title {
  font-size: calc(var(--content-font-size) * 1.6);
}

.desc {
  font-size: calc(var(--content-font-size) * 1.2);
}


figcaption {
  text-align: center;
  color: var(--color-gray-200);
}

.footer {
  display: none;
}
