.container {
  padding: 0 50px;
  background-color: #FFFFFF;
}

.header {
  padding: 1px;
}

.title {
  margin: 28px 0 14px;
  font-size: 28px;
  font-weight: var(--font-weight-bold);
}

.inner {
  background-color: #fff;
}

.banner {
  width: 100%;
  margin: 14px 0;
}

.banner img {
  max-width: 100%;
}

.main {
}

.meta {
  font-size: 14px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 12px;
}

.author,
.time {
  align-self: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.content {
  margin-top: 18px;
  padding-bottom: 40px;
  line-height: 1.8;

  pre {
    white-space: break-spaces;
  }
}

.placeholder {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../../styles/images/mountain.webp');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.browserButton {
  width: 100%;
  height: auto;
  margin: 14px 0 20px;
  padding: 12px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #efefef;
  color: var(--title-color);
  cursor: pointer;
  outline: none;
}

.browserButton:hover {
  color: var(--color-primary-white);
  border-color: var(--color-05);
  background-color: var(--color-05);
}

.helpBar {
  position: fixed;
  top: 160px;
  margin-left: -60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  color: var(--color-primary-blue);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  line-height: 49px;
  font-size: 22px;
  color: var(--title-color);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  margin: 6px 0;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}

.content {
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--sans-font);
  font-size: var(--content-font-size);
}

.content img, .content video {
  display: block;
  max-width: 100% !important;
  height: auto;
  margin: 10px auto;
}

/* 文章样式 */
blockquote {
  font-weight: 400;
  color: #999;
  margin: 2.4rem 0;
  padding-left: 1rem;
  border-left: 6px solid #666;
}

.title {
  //font-family: var(--sans-font);
  font-size: calc(var(--content-font-size) * 1.8);
}

.desc {
  /*font-family: var(--sans-font);*/
  font-size: calc(var(--content-font-size) * 1.2);
}

.content p {
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--sans-font);
  font-size: var(--content-font-size);
  margin-bottom: 2.4rem;
}

.content hr {
  margin: 2.4rem 0;
}

figcaption {
  text-align: center;
  color: var(--color-gray-200);
}

/*.content code {*/
/*    line-height: inherit;*/
/*    font-size: inherit;*/
/*    font-weight: inherit;*/
/*    font-family: var(--inline-code-font);*/
/*}*/

/*.content pre,*/
/*.content pre * {*/
/*    line-height: 1.3;*/
/*    font-family: var(--mono-font);*/
/*    margin: 1em 0em 1em 0em;*/
/*}*/

/*.content pre code,*/
/*.content pre code * {*/
/*    line-height: inherit;*/
/*    font-family: var(--mono-font);*/
/*    font-size: inherit;*/
/*}*/

/*.content ol,*/
/*.content ul {*/
/*    list-style-type: none;*/
/*    margin: 0em 0em 1.2em 2.5em;*/
/*    padding: 0;*/
/*}*/

/*.content ol li,*/
/*.content ul li {*/
/*    margin: 0;*/
/*    line-height: 1.7;*/
/*}*/

/*.content h1,*/
/*.content h1 * {*/
/*    font-family: var(--sans-font);*/
/*    font-weight: 100;*/
/*    font-size: calc(var(--content-font-size) * 2.5);*/
/*}*/

/*.content h2,*/
/*.content h2 * {*/
/*    font-weight: 300;*/
/*    font-size: calc(var(--content-font-size) * 2);*/
/*}*/

/*.content h3,*/
/*.content h3 * {*/
/*    font-weight: 400;*/
/*    font-size: calc(var(--content-font-size) * 1.7);*/
/*}*/

/*.content h4,*/
/*.content h4 * {*/
/*    font-weight: 400;*/
/*    font-size: calc(var(--content-font-size) * 1.5);*/
/*}*/

/*.content h5,*/
/*.content h5 * {*/
/*    font-weight: 400;*/
/*    font-size: calc(var(--content-font-size) * 1.2);*/
/*}*/

/*.content h6,*/
/*.content h6 * {*/
/*    font-weight: 500;*/
/*    font-size: calc(var(--content-font-size) * 1);*/
/*}*/

/*.content h1,*/
/*.content h2,*/
/*.content h3,*/
/*.content h4,*/
/*.content h5,*/
/*.content h6 {*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.6em;*/
/*}*/

.footer {
  display: none;
}


.bgDot {
  /*background: linear-gradient(90deg, #f9fafb 15px, transparent 1%) 50%, linear-gradient(#f9fafb 15px, transparent 1%) 50%, rgba(0, 0, 0, .24);*/
  /*background-size: 16px 16px;*/
}
