.container {
  padding: 2px 50px;
  font-family: var(--reading-font-body);
  // width: 80%;
  min-height: 100%;
  max-width: 1024px;
  min-width: 680px;
  margin: 0 auto;
}

.header {
  padding-bottom: 16px;
  border-bottom: 1px solid #dfdfdf;
}

.title {
  margin: 18px 0 14px;
  color: var(--detail-headline-color);
  font-size: 28px;
}

.meta {
  font-size: 14px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 12px;
}

.author,
.time {
  align-self: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.placeholder {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../../styles/images/mountain.webp');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.helpBar {
  position: fixed;
  top: 160px;
  margin-left: -60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  color: var(--color-primary);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  line-height: 49px;
  font-size: 22px;
  color: var(--icon-stroke);
  border-radius: 50%;
  cursor: pointer;
  margin: 6px 0;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-primary);
}

.title {
  font-size: calc(var(--content-font-size) * 1.6);
}

.desc {
  font-size: calc(var(--content-font-size) * 1.2);
}


figcaption {
  text-align: center;
  color: var(--color-gray-200);
}

.footer {
  display: none;
}
