:root[data-color-scheme="luckin"],
[data-color-scheme="luckin"] {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --primary: 214 100% 18%;
}

:root[data-color-scheme="starbucks"],
[data-color-scheme="starbucks"] {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --primary: 160 100% 22%;
}

:root[data-color-scheme="tims"],
[data-color-scheme="tims"] {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --primary: 350 85% 42%;
}

:root {
  --sideItemActiveBackground: rgba(255, 255, 255, 0.6);
  --sideItemHoverBackground: rgba(210, 210, 210, 0.6);
  --borderLine: theme(colors.zinc.200);
  --canvasBackground: theme(colors.neutral.100);
  --canvasForeground: theme(colors.zinc.700);
  --panelBackground: theme(colors.white);
  --panelForeground: theme(colors.zinc.700);
}

[data-color-scheme="dark"],
.dark {
  --sideItemActiveBackground: rgb(98 98 98 / 60%);
  --sideItemHoverBackground: rgb(85 85 85 / 60%);
  --borderLine: theme(colors.zinc.700);
  --canvasBackground: #3b3b3b;
  --canvasForeground: theme(colors.zinc.100);
  --panelBackground: #333;
  --panelForeground: theme(colors.zinc.300);
}
