@tailwind components;

@layer components {
  .is-drag-over {
    border: 1px solid red;
  }

  .indicator-top::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    background-color: var(--color-primary);
    height: 2px;
  }

  .indicator-bottom::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background-color: var(--color-primary);
    height: 2px;
  }

  .indicator-middle {
    border-color: var(--color-primary);
    border-style: dashed;
  }

  /* playing bar */

  .playing {
    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem;
    box-sizing: border-box;
  }

  .playing__bar {
    display: inline-block;
    background: white;
    width: 30%;
    height: 100%;
    animation: up-and-down 1.3s ease infinite alternate;
  }

  .playing__bar1 {
    height: 60%;
  }

  .playing__bar2 {
    height: 30%;
    animation-delay: -2.2s;
  }

  .playing__bar3 {
    height: 75%;
    animation-delay: -3.7s;
  }

  @keyframes up-and-down {
    10% {
      height: 30%;
    }

    30% {
      height: 100%;
    }

    60% {
      height: 50%;
    }

    80% {
      height: 75%;
    }

    100% {
      height: 60%;
    }
  }
}

@layer components {
  .sidebar-item {
    @apply relative z-[1] flex items-center gap-2 rounded-md text-sm px-3 h-9 w-full cursor-pointer;
    @apply after:block after:content-[''] after:-z-10 after:absolute after:top-[0] after:left-[0] after:w-full after:h-full after:rounded-md after:opacity-0 after:scale-90 after:transition-all after:duration-300 after:ease-in-out;
    @apply hover:after:opacity-100 hover:after:scale-100 after:bg-sidebar-hover;
  }

  .sidebar-item--active {
    @apply text-accent-foreground after:opacity-100 after:scale-100 after:bg-sidebar-active after:shadow-[0px_0px_0px_1px_rgba(60,64,67,0.00),0px_1.5px_4px_rgba(60,64,67,0.03),0px_3px_10px_rgba(60,64,67,0.1)];
  }
}
