@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500&family=Noto+Sans&family=Noto+Sans+SC:wght@100;300;400;500&family=Noto+Sans+TC:wght@100;300;400;500&family=Noto+Serif&family=Noto+Serif+SC:wght@100;300;400;500&family=Noto+Serif+TC:wght@100;300;400;500&display=swap');

:root {
  --sans-font: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', sans-serif !important;
  --serif-font: 'Noto Serif', 'Noto Serif TC', 'Noto Sans TC', serif !important;
  --inline-code-font: monospace !important;
  --mono-font: 'JetBrains Mono', monospace !important;
  --content-font-size: 18px;

  --app-channel-width: 280px;
  --app-article-width: 360px;
  --app-toolbar-height: 50px;
  --app-setting-sidebar-width: 220px;

  --view-helpbar-width: 50px;

  --headline-color: #333;
  --title-color: #363636;
  --text-color: #666;
  --link-default-color: #296bcc;
  --link-hover-color: #296bcc;
  --block-padding: 16px;
  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --button-height-large: 28px;
  --button-height-normal: 28px;
  --button-height-small: 20px;
  --button-radius: 6px;
  --input-height: 26px;
  --input-border-radius: 4px;
  --input-bg: rgba(245, 245, 245, 0.5);
  --input-border-color: #d1d1d1;
  --input-shadow-color: #87aef3;
  --input-color: #232526;
  --input-placeholder-color: rgba(121, 121, 121, 0.5);
  --input-shadow: 0 0 0 2px var(--input-shadow-color);
  --input-disabled-bg: rgba(0, 0, 0, 0.05);
  --line-color: rgba(0, 0, 0, 0.05);
  --icon-focused-bg: rgba(0, 0, 0, 0.05);

  --color-primary-blue: #017aff;
  --color-primary-90: #232526;
  --color-primary-10: #e5e5e5;
  --color-primary-3: #f4f4f4;
  --color-primary-white: #fff;
  --color-01: #f96057;
  --color-02: #f8a34d;
  --color-03: #f8ce52;
  --color-04: #5fcf65;
  --color-05: #488ef7;
  --color-06: #b470d4;
  --color-07: #9d9ca0;
  --color-gray-100: #f9f9f9;
  --color-gray-100-rgb: 249, 249, 249;
  --color-gray-200: #f4f4f5;
  --color-gray-200-rgb: 244, 244, 245;
  --color-gray-300: #eaeaec;
  --color-gray-300-rgb: 234, 234, 236;
  --color-gray-400: #cdcdd0;
  --color-gray-400-rgb: 205, 205, 208;
  --color-gray-500: #8c8c97;
  --color-gray-500-rgb: 140, 140, 151;
  --color-gray-600: #524e56;
  --color-gray-600-rgb: 82, 78, 86;
}
