:root {
  --sans-font: "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",
    sans-serif;
  --serif-font: "Noto Serif", "Noto Serif TC", "Noto Sans TC", serif !important;
  --inline-code-font: monospace !important;
  --mono-font: "JetBrains Mono", monospace !important;

  --app-channel-width: 240px;
  --app-article-width: 320px;
  --app-toolbar-height: 50px;
  --app-setting-sidebar-width: 200px;
  --view-helpbar-width: 50px;

  --reading-editable-font-size: 14;
  --reading-editable-line-width: 450;
  --reading-editable-line-height: 28; /* should land on 4px increments. 20, 24, 28, 32, 36 */
  // --reading-editable-typeface: "Source Serif VF", Georgia, Serif;
  /* auto generate */

  --reading-scale: 1.267;
  --reading-root-size: 16; /* This is to replicate the browser base size for math purposes */

  --reading-base-fs: calc(
    var(--reading-editable-font-size) / var(--reading-root-size)
  ); /* fs is unitless and is only used for calculations*/
  --reading-base-font-size: calc(
    var(--reading-editable-font-size) / var(--reading-root-size) * 1rem
  );
  --reading-base-line-height: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-root-size) * var(--reading-p-fs))
  );
  --reading-base-margin: calc(
    var(--reading-editable-font-size) / var(--reading-root-size) * 1rem
  );

  --reading-base-margin-v: calc(
    (var(--reading-editable-line-height) / 32) *
      (var(--reading-editable-font-size) / var(--reading-root-size) * 1em)
  ); /* added as a variable margin size that factors in line-height and font-size */

  /* Caption = table divided by scale */
  --reading-caption-fs: calc(
    var(--reading-table-fs) / var(--reading-scale) / var(--reading-scale)
  );
  --reading-caption-font-size: calc(var(--reading-caption-fs) * 1rem);
  --reading-caption-line-height: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-root-size) * var(--reading-p-fs))
  );
  --reading-caption-margin: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-root-size) * var(--reading-p-fs)) * 1em
  );

  /* Table = base size divided by scale */
  --reading-table-fs: calc(
    var(--reading-base-fs) / var(--reading-scale) / var(--reading-scale)
  );
  --reading-table-font-size: calc(var(--reading-table-fs) * 1rem);
  --reading-table-line-height: calc(
    var(--reading-editable-line-height) / var(--reading-root-size)
  );
  --reading-table-margin: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-root-size) * var(--reading-p-fs)) * 1em
  );

  /* P = base size */
  --reading-p-fs: calc(var(--reading-base-fs));
  --reading-p-font-size: calc(var(--reading-base-fs) * 1rem);
  --reading-p-line-height: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-root-size) * var(--reading-p-fs))
  );
  --reading-p-margin: calc(
    var(--reading-editable-font-size) / var(--reading-root-size) * 1rem
  );

  /* H3 = base size x scale */
  --reading-h3-fs: var(--reading-p-fs);
  --reading-h3-font-size: calc(var(--reading-p-fs) * 1rem);
  --reading-h3-line-height: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-root-size) * var(--reading-h3-fs))
  );
  --reading-h3-margin: calc(var(--reading-h3-line-height) * 1em);

  /* H2 = H3 size x scale */
  --reading-h2-fs: calc(var(--reading-h3-fs) * var(--reading-scale));
  --reading-h2-font-size: calc(
    var(--reading-h3-fs) * var(--reading-scale) * 1rem
  );
  --reading-h2-line-height: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-h2-fs) * var(--reading-root-size))
  );

  /* H1 = H2 size x scale */
  --reading-h1-fs: calc(var(--reading-h2-fs) * var(--reading-scale));
  --reading-h1-font-size: calc(
    var(--reading-h2-fs) * var(--reading-scale) * 1rem
  );
  --reading-h1-line-height: calc(
    var(--reading-editable-line-height) /
      calc(var(--reading-h1-fs) * var(--reading-root-size))
  );
  --reading-h1-margin: calc(var(--reading-h1-line-height) * 1em);

  /* Typefaces */
  --reading-font-body: var(--reading-editable-typeface);
  --reading-font-title: var(--reading-editable-typeface);
  --reading-font-caption: "Inter VF", sans-serif;

  --reading-font-monospace: "Roboto Mono VF", "SFMono-Regular", Consolas,
    "Liberation Mono", Menlo, Courier, monospace;
}

:root body {
  --color-primary: hsl(var(--primary));
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --feed-headline-color: var(--foreground);
  --feed-active-bg-color: var(--background);
}

.reading-content {
  font-weight: 400;
  line-height: var(--reading-p-line-height);
  font-family: var(--reading-font-body);
  font-size: var(--reading-p-font-size);

  * {
    max-width: 100%;
  }

  ::selection {
    background-color: var(--text-selection-background-color) !important;
  }

  p {
    font-family: var(--reading-font-body);
    font-size: var(--reading-p-font-size);
    margin-bottom: var(--reading-p-margin);
    margin-top: var(--reading-p-margin);
    line-height: var(--reading-p-line-height);
    color: var(--reading-text-primary);
  }

  h1 {
    font-family: var(--reading-font-title);
    font-weight: 600;
    font-size: var(--reading-h1-font-size);
    margin-top: calc(var(--reading-base-margin) * 3);
    margin-bottom: var(--reading-base-margin);
    line-height: var(--reading-h1-line-height);
    letter-spacing: -0.019em;
    font-variation-settings: "opsz" calc(var(--reading-h1-fs) * 16 + 1);
    color: var(--reading-text-title);
  }

  h2 {
    font-family: var(--reading-font-title);
    font-weight: 600;
    font-size: var(--reading-h2-font-size);
    margin-top: calc(var(--reading-base-margin) * 2);
    margin-bottom: var(--reading-base-margin);
    line-height: var(--reading-h2-line-height);
    letter-spacing: -0.011em;
    font-variation-settings: "opsz" calc(var(--reading-h2-fs) * 16 + 1);
    color: var(--reading-text-title);
  }

  h3 {
    font-family: var(--reading-font-title);
    font-weight: 600;
    font-size: var(--reading-h3-font-size);
    margin-top: calc(var(--reading-base-margin) * 1.5);
    margin-bottom: calc(var(--reading-base-margin) * 0.5);
    line-height: var(--reading-h3-line-height);
    letter-spacing: -0.011em;
    font-variation-settings: "opsz" calc(var(--reading-h3-fs) * 16 + 1);
    color: var(--reading-text-title);
  }

  h4,
  h5,
  h6 {
    font-family: var(--reading-font-body);
    font-weight: 600;
    font-size: var(--reading-p-font-size);
    margin-top: var(--reading-p-margin);
    margin-bottom: calc(var(--reading-p-margin) * 0.5);
    line-height: var(--reading-p-line-height);
    color: var(--reading-text-title);
  }

  h2 + * {
    margin-top: 0;
  }

  h3 + * {
    margin-top: 0;
  }

  h4 + * {
    margin-top: 0;
  }

  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    font-size: 0.9em;
  }

  h4 code {
    font-size: 0.9em;
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    text-decoration-style: dashed;
    transition: all 0.3s;
    color: var(--color-primary);

    &:hover {
      text-decoration-style: wavy;
    }
  }

  img {
    margin: 0 auto;
    border: 2px solid var(--color-primary);
  }
}

@tailwind components;
@layer components {
  .select-top::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    background-color: purple;
    height: 2px;
  }

  .select-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    height: 2px;
  }
}
