@import "./happyhues/css/variables";

:root {
  --sans-font: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  --serif-font: 'Noto Serif', 'Noto Serif TC', 'Noto Sans TC', serif !important;
  --inline-code-font: monospace !important;
  --mono-font: 'JetBrains Mono', monospace !important;
  --content-font-size: 16px;

  --app-channel-width: 260px;
  --app-article-width: 340px;
  --app-toolbar-height: 50px;
  --app-setting-sidebar-width: 200px;
  --view-helpbar-width: 50px;
}

@for $i from 1 to 17 {
  :root body[data-palette='#{$i}'] {
    --color-primary: var(--color-palette-#{$i}-section-1-illustration-highlight);
    --color-secondary: var(--color-palette-#{$i}-section-1-illustration-secondary);
    --color-tertiary: var(--color-palette-#{$i}-section-1-illustration-tertiary);
    --headline-color:var(--color-palette-#{$i}-section-1-elements-headline);
    --paragraph-color: var(--color-palette-#{$i}-section-1-elements-paragraph);
    --button-bg-color: var(--color-palette-#{$i}-section-1-elements-button);
    --button-text-color: var(--color-palette-#{$i}-section-1-elements-button-text);
    --stroke-color: var(--color-palette-#{$i}-section-1-illustration-stroke);
    --icon-tertiary: var(--color-palette-#{$i}-section-2-icons-tertiary);
    --icon-secondary: var(--color-palette-#{$i}-section-2-icons-secondary);
    --icon-highlight: var(--color-palette-#{$i}-section-2-icons-highlight);
    --icon-main: var(--color-palette-#{$i}-section-2-icons-main);
    --icon-stroke: var(--color-palette-#{$i}-section-2-icons-stroke);

    --body-color: var(--detail-paragraph-color);
    --body-bg-color: var(--color-palette-#{$i}-section-2-elements-background);
    --app-main-bg-color: var(--color-palette-#{$i}-section-2-elements-background);

    --feed-list-bg-color: var(--color-palette-#{$i}-section-1-elements-background);
    --feed-headline-color: var(--color-palette-#{$i}-section-1-elements-headline);
    --feed-active-bg-color: var(--color-palette-#{$i}-section-1-elements-button);
    --feed-active-headline-color: var(--color-palette-#{$i}-section-1-elements-button-text);

    --article-list-bg-color: var(--color-palette-#{$i}-section-2-elements-background);
    --article-headline-color: var(--color-palette-#{$i}-section-2-elements-headline);
    --article-paragraph-color: var(--color-palette-#{$i}-section-2-elements-sub-headline);
    --article-active-bg-color: var(--color-palette-#{$i}-section-2-elements-card-background);
    --article-active-headline-color: var(--color-palette-#{$i}-section-2-elements-card-heading);
    --article-active-paragraph-color: var(--color-palette-#{$i}-section-2-elements-card-paragraph);

    --detail-bg-color: var(--color-palette-#{$i}-section-2-elements-background);
    --detail-headline-color: var(--color-palette-#{$i}-section-2-elements-headline);
    --detail-paragraph-color: var(--color-palette-#{$i}-section-2-elements-sub-headline);
    --detail-form-input-background: var(--color-palette-#{$i}-section-4-newsletter-form-input);
    --detail-form-input-color: var(--color-palette-#{$i}-section-4-newsletter-label-placeholder);
    --detail-form-input-button-background: var(--color-palette-#{$i}-section-4-newsletter-form-button);
    --detail-form-input-button-color: var(--color-palette-#{$i}-section-4-newsletter-form-button-text);
  }

  body[data-palette='#{$i}'] {
    --semi-color-text-0: var(--paragraph-color);
    --semi-color-primary: var(--color-primary);
    --semi-color-primary-hover: var(--color-primary);
    --semi-color-focus-border: var(--color-primary);
    --semi-color-focus-border: var(--detail-form-input-background);

    --tw-prose-quotes: var(--color-primary);
    --tw-prose-bold: var(--color-primary);
  }

  body[data-palette='#{$i}'] {
    .semi-button-primary {
      color: var(--color-palette-#{$i}-section-1-elements-button-text);
    }
  }
}

