@import "./custom-theme.css";
@import "./custom-components.css";
@import "./reading-style.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  font-family: var(--sans-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(var(--foreground));
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinning {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ===== Scrollbar CSS ===== */

div, ul {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 0px solid transparent;
  border-radius: 8px;
  background-color: #707070;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
