.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  user-select: none;
}

.inner {
  height: 100%;
  overflow-y: auto;
  padding: 10px 0 14px;
}

.list {
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.toolbarItem {
  width: 24px;
  height: 24px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #333;
}

.item {
  height: 40px;
  padding: 4px 0 4px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.itemHighlight {
  background-color: rgba(0, 0, 0, 0.05);
}

.name {
  font-size: 14px;
  color: #333;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.official {
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.officialItem {
  composes: item;
  line-height: 21px;
}

.officialItemIcon {
  font-size: 20px;
  margin-right: 8px;
}

.red {
  color: red;
}

.orange {
  color: orange;
}
