.container {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.main {
  height: 100%;
  flex: 1;
  position: relative;
}

.mainInner {
  height: calc(100% - var(--app-toolbar-height));
  flex: 1;
  display: flex;
}

.channel {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--app-channel-width);
  background-color: #f6f7f8;
  border-right: 1px solid #efefef;
}

.articleList {
  flex: 0 0 auto;
  width: var(--app-article-width);
  border-right: 1px solid #dedede;
  background-color: #dedede;
}

.reader {
  flex: 1;
  background-color: #3d3d3d;
}
