.container {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.channel {
  flex: 0 0 auto;
  width: 200px;
  border-right: 1px solid #dedede;
  background-color: #dedede;
}

.articleList {
  flex: 0 0 auto;
  width: 200px;
  border-right: 1px solid #dedede;
  background-color: #dedede;
}

.reader {
  flex: 1;
  background-color: #3d3d3d;
}
