.article {
  flex: 1;
  height: 100vh;
  display: grid;
  grid-template-columns: 360px 1fr;
  background-color: #fff;
}

:global(.sticky-header) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: var(--app-toolbar-height);
  background-color: var(--color-gray-100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

// :global(.is-scroll) {
//   .header, .viewHeader {
//   }
// }

:global(.is-scroll .sticky-header) {
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255, 255, 255, 0.8);
  --playerDropShadow2: rgba(0, 0, 0, 0.07);
  --playerInnerShadow: rgba(255, 255, 255, 0.45);
  backdrop-filter: saturate(50%) blur(20px);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px var(--playerDropShadow2), inset 0 1px 1px var(--playerInnerShadow);
}

.title {
  display: flex;
  align-items: center;
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ico {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
}

.syncingBar {
  position: sticky;
  top: var(--app-toolbar-height);
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  background-color: var(--color-primary-blue);
  color: #fff;
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 20px;
  color: var(--title-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  margin-left: 4px;
  user-select: none;
}

.menuIcon:not(.menuIconDisabled):hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}

.menuIconDisabled {
  cursor: not-allowed;
  color: var(--color-gray-400);
  background-color: var(--color-gray-200);
}


.list {
  position: relative;
  height: 100%;
  border-right: 1px solid var(--line-color);
  background-color: var(--color-gray-100);
}

.scrollList {
  overflow-y: auto;
  height: calc(100vh - var(--app-toolbar-height));
  padding-top: var(--app-toolbar-height);
}

.scrollView {
  overflow-y: auto;
  height: calc(100vh - var(--app-toolbar-height));
  padding-top: var(--app-toolbar-height);
}

.mainView {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 50px 1fr;
  background: linear-gradient(90deg, #f9fafb 15px, transparent 1%) 50%, linear-gradient(#f9fafb 15px, transparent 1%) 50%, rgba(0, 0, 0, .24);
  background-size: 16px 16px;
}

.viewHeader {
  height: var(--app-toolbar-height);
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.viewMenu {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 12px;
}
