.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  background-color: #fafafa;
  /* grid-template-columns: 1fr var(--view-helpbar-width); */
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.toolbarFixed {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.title {
  margin: 24px 0 15px;
  font-size: 28px;
  font-weight: var(--font-weight-bold);
}

.main {
  background-color: #fafafa;
}

.meta {
  font-size: 13px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 14px;
}

.author,
.time {
  align-self: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
}

.channelInfo img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.content {
  margin-top: 18px;
}

@media screen and (min-width: 960px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 900px;
  }
}

.placeholder {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../../styles/images/mountain.webp');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.browserButton {
  width: 100%;
  height: auto;
  margin: 14px 0 20px;
  padding: 12px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #efefef;
  color: var(--title-color);
  cursor: pointer;
  outline: none;
}

.browserButton:hover {
  color: var(--color-primary-white);
  border-color: var(--color-05);
  background-color: var(--color-05);
}

.helpBar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: var(--app-toolbar-height);
  border-bottom: 1px solid var(--line-color);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  background-color: #fafafa;
}

.active {
  color: var(--color-primary-blue);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: var(--title-color);
  border-radius: var(--button-radius);
  cursor: pointer;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}

.content img {
  display: block;
  max-width: 100% !important;
  height: auto;
  margin: 10px auto;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 1px 1px 3px #d4d4d4;
}

/* 文章样式 */
blockquote {
  font-weight: 400;
  color: #999;
}

.title {
  font-family: var(--sans-font);
  font-size: calc(var(--content-font-size) * 2.5);
}

.desc {
  font-family: var(--sans-font);
  font-size: calc(var(--content-font-size) * 1.2);
}

.content *,
.content p,
.content div {
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--sans-font);
  font-size: var(--content-font-size);
}

.content code {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: var(--inline-code-font);
}

.content pre,
.content pre * {
  line-height: 1.3;
  font-family: var(--mono-font);
  margin: 1em 0em 1em 0em;
}

.content pre code,
.content pre code * {
  line-height: inherit;
  font-family: var(--mono-font);
  font-size: inherit;
}

.content ol,
.content ul {
  list-style-type: none;
  margin: 0em 0em 1.2em 2.5em;
  padding: 0;
}

.content ol li,
.content ul li {
  margin: 0;
  line-height: 1.7;
}

.content h1,
.content h1 * {
  font-family: var(--sans-font);
  font-weight: 100;
  font-size: calc(var(--content-font-size) * 2.5);
}

.content h2,
.content h2 * {
  font-weight: 300;
  font-size: calc(var(--content-font-size) * 2);
}

.content h3,
.content h3 * {
  font-weight: 400;
  font-size: calc(var(--content-font-size) * 1.7);
}

.content h4,
.content h4 * {
  font-weight: 400;
  font-size: calc(var(--content-font-size) * 1.5);
}

.content h5,
.content h5 * {
  font-weight: 400;
  font-size: calc(var(--content-font-size) * 1.2);
}

.content h6,
.content h6 * {
  font-weight: 500;
  font-size: calc(var(--content-font-size) * 1);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 1em;
  margin-bottom: 0.6em;
}

.footer {
  display: none;
}
