.container {
  height: var(--app-toolbar-height);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--app-toolbar-height);
  border-bottom: 1px solid var(--line-color);
}

.title {
  display: flex;
  align-items: center;
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ico {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 14px;
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 20px;
  color: var(--title-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  margin-left: 10px;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}
