.container {
  height: 100%;
  user-select: none;
  overflow-y: scroll;
}

.list {
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  height: var(--app-toolbar-height);
  font-size: 18px;
  padding: 0 16px;
  font-weight: var(--font-weight-bold);
}
