.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--app-toolbar-height) calc(
      100% - var(--app-toolbar-height)
    );
  height: 100%;
  border-right: 1px solid var(--line-color);
  user-select: none;
}

.inner {
  overflow-y: auto;
}

.list {
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 110px;
  height: var(--app-toolbar-height);
  border-bottom: 1px solid var(--line-color);
}

.title {
  display: flex;
  align-items: center;
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu {
  display: flex;
  align-items: center;
}

.active {
  color: var(--color-primary-blue);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: var(--title-color);
  border-radius: var(--button-radius);
  cursor: pointer;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}

.syncingBar {
  text-align: center;
  font-size: 12px;
  padding: 8px;
  background-color: var(--color-05);
  color: #fff;
}
