.container {
  height: var(--app-toolbar-height);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
}

.container.fixed {
  position: sticky;
  top: 0;
}

.header {
  width: var(--app-article-width);
  display: grid;
  grid-template-columns: 1fr 134px;
  border-right: 1px solid var(--line-color);
}

.title {
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu {
  display: flex;
  padding: 0 var(--block-padding);
}

.active {
  color: var(--color-primary-blue);
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  color: var(--title-color);
  border-radius: var(--button-radius);
  cursor: pointer;
}

.menuIcon:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}
