.container {
  height: var(--app-toolbar-height);
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
}

.container.fixed {
  position: sticky;
  top: 0;
}

.title {
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
}

.menu {
  display: flex;
  padding: 0 var(--block-padding);
}

.menuItem {
  display: flex;
  align-items: center;
  margin: 0 6px;
  padding: 6px 14px;
  font-size: 14px;
  color: var(--title-color);
  border-radius: var(--button-radius);
  cursor: pointer;
}

.menuItem:hover {
  color: var(--headline-color);
  background-color: var(--color-gray-200);
}

.active {
  color: var(--color-primary-blue);
  background-color: var(--color-gray-200);
}

.menuIcon {
  font-size: 18px;
  margin-right: 4px;
}
