.container {
  flex: 1;
  display: grid;
  grid-template-columns: var(--app-setting-sidebar-width) 1fr;
  grid-template-rows: var(--app-toolbar-height) 1fr;
  background-color: #fff;
}

.header{
  grid-column: 1 / -1;
  background-color: #fff;
}

.title {
  height: var(--app-toolbar-height);
  display: flex;
  align-items: center;
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar {
  width: var(--app-setting-sidebar-width);
  border-right: 1px solid var(--line-color);
  grid-column: 1;
  padding: 8px 10px;
}

.menuItem {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-gap: 10px;
  margin: 4px 0;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: var(--text-color);
}

.menuItemActive {
  @extend .menuItem;
  color: var(--color-primary-blue);
}

.subTitle {
  margin: 0;
  font-size: 20px;
  color: var(--title-color);
  padding: var(--block-padding);
}

.panelContainer {
  display: grid;
  padding: var(--block-padding);
  height: calc(100% - var(--app-toolbar-height));
  overflow-y: scroll;
}

.panelTitle {
  margin: 0;
  padding: 20px 0 10px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.panelBody {
  margin-bottom: 30px;
}

.description {
  font-size: 13px;
  color: var(--text-color);
  font-weight: normal;
  margin-left: 14px;
}

.inputField {
  margin: 12px 0;
}

.section {
  padding: 0 0;
}

.options {
  color: var(--headline-color);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 16px;
  margin: 12px 0;
}

.preview {
  margin-top: 20px;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  margin-bottom: 14px;
  max-width: 600px;
  padding: 18px 14px 14px;
  box-shadow: inset(0 1px 3px 0 rgba(255, 255, 255, 0.5));
}

.previewLoading {
  color: var(--text-color);
}

.previewIcon {
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  float: left;
}

.previewBody {
  margin-left: 46px;
}

.previewTitle {
  font-size: 16px;
  color: var(--headline-color);
  font-weight: var(--font-weight-bold);
  margin: 0 0 14px;
}

.previewFollowButton {
  float: right;
  cursor: pointer;
}

.previewLink {
  font-size: 14px;
  color: var(--text-color);
}

.previewDescription {
  font-size: 14px;
  color: var(--title-color);
}

.hideFileInput {
}

.main {
  padding: 12px;
  overflow-y: auto;
}
