.container {
  width: 100%;
  height: 100%;
  grid-template-columns: 220px 1fr;
  display: grid;
}

.title {
  height: var(--app-toolbar-height);
  display: flex;
  align-items: center;
  padding: 0 var(--block-padding);
  color: var(--headline-color);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar {
  width: var(--app-setting-sidebar-width);
  height: 100%;
  border-right: 1px solid var(--line-color);
}

.subTitle {
  margin: 0;
  font-size: 20px;
  color: var(--title-color);
  padding: var(--block-padding);
}

.panelContainer {
  display: grid;
  padding: var(--block-padding);
  height: calc(100% - var(--app-toolbar-height));
  overflow-y: scroll;
}

.panelHeader {
  padding: 24px 0 10px;
}

.panelTitle {
  margin: 0;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.description {
  font-size: 14px;
  color: var(--text-color);
}

.section {
  padding: 20px 0;
}

.options {
  width: 160px;
  min-width: 160px;
  margin-right: 56px;
  color: var(--headline-color);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 16px;
}

.preview {
  margin-top: 20px;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  margin-bottom: 14px;
  max-width: 600px;
  padding: 18px 14px 14px;
  box-shadow: inset(0 1px 3px 0 rgba(255, 255, 255, 0.5));
}

.previewLoading {
  color: var(--text-color);
}

.previewIcon {
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  float: left;
}

.previewBody {
  margin-left: 46px;
}

.previewTitle {
  font-size: 16px;
  color: var(--headline-color);
  font-weight: var(--font-weight-bold);
  margin: 0 0 14px;
}

.previewFollowButton {
  float: right;
  cursor: pointer;
}

.previewLink {
  font-size: 14px;
  color: var(--text-color);
}

.previewDescription {
  font-size: 14px;
  color: var(--title-color);
}

.hideFileInput {
}

.main {
  height: 100vh;
  overflow-y: auto;
}
