.articleList {
  flex: 0 0 auto;
  width: var(--app-article-width);
  border-right: 1px solid #dedede;
}

.reader {
  height: 100%;
  flex: 1;
  position: relative;
  padding-top: var(--app-toolbar-height);
}
