.container {
  display: flex;
  height: 100%;
  min-height: 100%;
}

.main {
  height: 100%;
  flex: 1;
  position: relative;
}

.mainInner {
  height: 100%;
  /* height: calc(100% - var(--app-toolbar-height)); */
  flex: 1;
  display: flex;
}

.channel {
}
