@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer base {
  :root[data-color-scheme="light"],
  [data-color-scheme="light"],
  [data-system-preference="light"] {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    /* --primary: 222.2 47.4% 11.2%; */
    --primary: 234.15deg 61.19% 60.59%;
    --primary-foreground: 0 0% 100%;
  }

  :root[data-color-scheme="dark"],
  [data-color-scheme="dark"],
  [data-system-preference="dark"],
  .dark {
    /* --background: 234 16.7% 11.8%; */
    --background: 0 0% 12.16%;
    /* --background: 225 6.06% 12.94%; */
    --foreground: 213 31% 91%;

    --muted: 236 17.4% 18.0%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 220 5.9% 20.0%;
    --input: 220 5.9% 20.0%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 220 5.9% 20.0%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 220 5.9% 20.0%;

    --radius: 0.5rem;
  }

  :root[data-color-scheme="luckin"],
  [data-color-scheme="luckin"] {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --primary: 214 100% 18%;
  }

  :root[data-color-scheme="starbucks"],
  [data-color-scheme="starbucks"] {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --primary: 160 100% 22%;
  }

  :root[data-color-scheme="tims"],
  [data-color-scheme="tims"] {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --primary: 350 85% 42%;
  }
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
  /*  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
  /*  sans-serif;*/
  font-family: var(--sans-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(var(--foreground));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

