.tableNameText {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.favicon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.tableIcon {
  font-size: 16px;
  color: var(--text-color);
  margin: 0 4px;
  cursor: pointer;
}

.tableIcon:hover {
  color: var(--title-color);
}
