.item {
  position: relative;
  min-height: 48px;
  padding: 8px 16px;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: 0 0 12px -6px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.item:hover {
  cursor: pointer;
}

.title {
  font-size: 16px;
  color: #444;
  font-weight: var(--font-weight-bold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pubTime {
  font-size: 12px;
  color: #999;
}

.content {
  height: 0;
  overflow: hidden;
}

.content img {
  width: 100%;
  height: auto;
}

.item.expand .content {
  height: auto;
}

.read {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--title-color);
}

.read .title {
  color: var(--title-color);
}

.current {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
}

.current .title,
.current .pubTime {
  color: var(--color-primary-white);
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.channel {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel img {
  width: 14px;
  height: 14px;
}
