.item {
  list-style-type: none;
  border-radius: 4px;
  padding: 8px 8px 8px 30px;
  display: grid;
  grid-gap: 2px;
}

.item:hover {
  cursor: pointer;
}

.titleText {
  font-size: 14px;
  color: #333;
  font-weight: var(--font-weight-bold);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  font-size: 12px;
  color: var(--semi-color-text-2);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.actions {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.icon {
  font-size: 20px;
  margin: 0 2px;
}

.pubTime {
  font-size: 12px;
  color: #999;
}

.content {
  height: 0;
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  color: #9e9e9e;
  font-size: 13px;
}

.content img {
  width: 100%;
  height: auto;
}

.item.expand .content {
  height: auto;
}

.item.expand .header {
  padding-bottom: 10px;
}

.read {
  background-color: var(--semi-color-fill-2);
  color: var(--title-color);
}

.read .titleText {
  color: var(--text-color);
}

/*.current {*/
/*  background-color: var(--color-primary-blue);*/
/*  color: var(--color-primary-white);*/
/*}*/

/*.current .title,*/
/*.current .pubTime {*/
/*  color: var(--color-primary-white);*/
/*}*/

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--text-color);
}

.channel {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel img {
  width: 14px;
  height: 14px;
}
